{% extends "blog_base.html" %}
{% load blog_extras %}
{% block body_block%}
    <div class="card">
    <div class="card-body">
      <p class="card-subtitle small mb-2 text-muted">
        <span>Created by {{object.author}}
          {% if object.published_at %}
            at: {{object.published_at|date:"H:i d/m/Y"}}
          {% endif %}
        </span>
        <span class="publishedBtn">
          <!-- "My Post" badge -->
          {% if object.author == user %}
            <span class="badge badge-info">My Post</span>
          {% endif %}
          <!-- Only admin can publish drafts -->
          {% if not object.published_at and user|has_group:"blog_editors" %}
            <button type="button" class="btn btn-sm btn-outline-secondary" href="{% url "blog:post_publish" object.id %}">Publish</button>
          {% elif not object.published_at %}
            <span class="badge badge-pill badge-light">Pending</span>
          {% endif %}
        </span>
      </p>
      <h1 class="card-title">{{object.title}}</h1>
      {% autoescape off %}
        <p class="card-text">{{object.body_text}}</p>
      {% endautoescape %}

    </div>
    <ul class="list-group list-group-flush">
      {% for comment in object.comments.all %}

      <li class="list-group-item">
        <p class="card-subtitle small mb-2 text-muted">
          <span>Commented by {{comment.author}}
              at: {{comment.created_at|date:"H:i d/m/Y"}}
          </span>
            <!-- "My Comment" badge -->
          <span class="badges-area">
          {% if comment.author == user %}
            <span class="badge badge-info">My Comment</span>
          {% endif %}
          </span>
        </p>


        <div class="comment">
          {% autoescape off %}
          {{comment}}
          {% endautoescape %}
        </div>


        <!-- TOOLBAR -->
        <!-- Comment owner and post author can get access to comment tollbar -->
        {% if comment.author == user or object.author == user %}
        <div class="small mb-2 text-muted card-toolbar">
          {% if comment.author == user %}
          <a class="card-toolbar-options" href="{% url "blog:comment_edit" comment.id %}">
            <i class="far fa-edit"></i>
            <span>Edit</span>
          </a>
          {% endif %}
          <a class="card-toolbar-options" href="{% url "blog:comment_delete" comment.id %}">
            <i class="far fa-trash-alt"></i>
            <span>Delete</span>
          </a>
        </div>
        {% endif %}
      </li>
      {% endfor %}

      <!-- New Comments form -->
      <li class="list-group-item">
        <p class="card-subtitle mb-2 ">
          <span> Add your comment </span>
        </p>
        <div class="comment">
          <form class="" action="{% url "blog:comment_create" object.id %}" method="post">
            {%csrf_token%}
            <div class="card comment-editor-area">
              <div class="card-body">
                  <textarea class = "editable medium-editor-textarea" name="comment_text" rows="8" cols="80" placeholder="Type yor text here"></textarea>
              </div>
            </div>
            <input type="submit" value="Save">
          </form>
        </div>

      </li>
    </ul>

  </div>


{% endblock body_block %}
