{% extends "blog_base.html" %}
{% load blog_extras %}
{% block body_block%}

  <h1>Welcome to the Blog!</h1>
  {% for blog in blogpost_list%}
  <!-- for admin user we show all posts published and not_published, for author we show all published + his/her not published -->
    {% if blog.published_at or user|has_group:"blog_editors" or blog.author == user %}

      <div class="card list-card">


        <div class="card-body">
          <!-- CLICKABLE CARD BODY -->
          <a class="postcard" href="{% url "blog:post_details" blog.id %}">
            <p class="card-subtitle small mb-2 text-muted">
              <span>Created by {{blog.author}}
                {% if blog.published_at %}
                  at: {{blog.published_at|date:"H:i d/m/Y"}}
                {% endif %}
              </span>
              <span class="badges-area">
                <!-- "My Post" badge -->
                {% if blog.author == user and blog.published_at %}
                  <span class="badge badge-info">My Post</span>
                {% elif not blog.published_at %}
                  <span class="badge badge-pill badge-warning">Pending</span>
                {% endif %}
              </span>
            </p>
            <h5 class="card-title">{{blog.title}}</h5>
            {% autoescape off %}
              <p class="card-text">{{blog.body_text|truncatechars_html:320}}</p>
            {% endautoescape %}
          </a>


          <!-- CARD TOOLBAR-->
          <div class="small mb-2 text-muted card-toolbar">
            <span class="card-subtitle">{{blog.comments.count}} Comments</span>
            <!-- Toolbar editing options are visible only for author and superuser -->
            {% if blog.author == user or user.is_superuser %}

            <a class="card-toolbar-options" href="{% url "blog:post_edit" blog.id %}">
              <i class="far fa-edit"></i>
              <span>Edit</span>
            </a>
            <a class="card-toolbar-options" href="{% url "blog:post_delete" blog.id %}">
              <i class="far fa-trash-alt"></i>
              <span>Delete</span>
            </a>

            {% endif %}
            <!-- Only admin can publish drafts -->
            {% if not blog.published_at and user|has_group:"blog_editors" %}
              <a class="card-toolbar-options publish-btn" href="{% url "blog:post_publish" blog.id %}">
                <i class="fas fa-check"></i>
                <span>Publish</span>
              </a>
            {% endif %}
          </div>

        </div>
      </div>
    {% endif %}

  {% endfor %}

  {% if not blogpost_list %}
    <p>No Posts here yet. You can create the first one.</p>
  {% endif %}
{% endblock body_block %}
